<!DOCTYPE html>
<html>
  <head>
    <title>それどこ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/e96e7bc039.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class = "shadow mb-3">
    <%= render 'layouts/header' %>
  </header>
  <body>
    <div class = "container-fliud p-3 bg-light">
      <%= yield %>
    </div>
  </body>
  <% if user_signed_in? %>
    <footer class = "bg-dark">
      <%= render 'layouts/footer' %>
    </footer>
  <% else %>
  <% end %>
</html>
